.badge {
  box-sizing: border-box;
  height: 20px;
  display: flex;
  padding: 0 6px;
  z-index: 1;
  position: absolute;
  flex-wrap: wrap;
  font-size: 0.75rem;
  min-width: 20px;
  align-items: center;
  font-weight: 500;
  line-height: 1;
  align-content: center;
  border-radius: 10px;
  flex-direction: row;
  justify-content: center;
  color: #fff;
  top: 0;
  right: 0;
  transform: scale(1) translate(45%, -45%);
  transform-origin: 100% 0;
  background-color: #007bff;
  border: 1px solid #007bff;
}
