.drawer {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: auto;
  z-index: 1050;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  visibility: hidden;
  background-color: #fff;
  outline: 0;
  width: 360px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
}
.drawer .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
}
.drawer .header .title {
  margin: 0;
  line-height: 1.5;
}
.drawer .header .btn-close {
  padding: 0.5rem 0.5rem;
  margin-top: -0.5rem;
  margin-right: -0.5rem;
  margin-bottom: -0.5rem;
}
.drawer .body {
  flex-grow: 1;
  padding: 1rem 1rem;
  overflow-y: auto;
}

.drawer.show {
  visibility: visible;
  transform: none;
}

.drawer.hide {
  transform: translateX(-100%);
}
