@charset "UTF-8";
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.btn {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: #e9ecef;
  border: 1px solid #e9ecef;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn *,
.btn *::before,
.btn *::after {
  box-sizing: inherit;
}
.btn img, .btn svg {
  display: inline-flex;
  vertical-align: -0.125em;
  width: 1em;
  height: 1em;
}
.btn:hover {
  text-decoration: none;
  background-color: #cbd3da;
}
.btn:focus {
  outline: none;
}
.btn.disabled, .btn:disabled {
  opacity: 0.65;
  pointer-events: none;
}

.btn.primary {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}
.btn.primary:hover {
  text-decoration: none;
  background-color: #0062cc;
}

.btn.outline {
  background-color: transparent;
  border-color: #e9ecef;
}
.btn.outline:hover {
  text-decoration: none;
  background-color: #e9ecef;
}

.btn.link {
  background-color: transparent;
  color: #007bff;
  border-color: transparent;
}
.btn.link:hover {
  background-color: #e9ecef;
}

.btn.block {
  width: 100%;
  display: block;
}

.btn.small {
  padding: 0.1rem 0.4rem;
}

.form-label {
  margin-bottom: 0.5rem;
}

.form-text {
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #6c757d;
}

.form-control {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control *,
.form-control *::before,
.form-control *::after {
  box-sizing: inherit;
}
.form-control[type=file] {
  overflow: hidden;
}
.form-control[type=file]:not(:disabled):not([readonly]) {
  cursor: pointer;
}
.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.form-control:disabled, .form-control[readonly] {
  background-color: #e9ecef;
}
.form-control::placeholder {
  color: #6c757d;
}
.form-control:hover:not(:disabled):not([readonly])::file-selector-button {
  background-color: #dde0e3;
}
.form-control::file-selector-button {
  padding: 4px 8px;
  margin: -4px -8px;
  margin-inline-end: 0.65rem;
  color: #212529;
  background-color: #e9ecef;
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: 1px;
  border-radius: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control::-webkit-file-upload-button {
  padding: 4px 8px;
  margin: -4px -8px;
  margin-inline-end: 0.65rem;
  color: #212529;
  background-color: #e9ecef;
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: 1px;
  border-radius: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-select {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  appearance: none;
}
.form-select:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.form-select[multiple], .form-select[size]:not([size="1"]) {
  padding-right: 0.75rem;
  background-image: none;
}
.form-select:disabled {
  background-color: #e9ecef;
}
.form-select.sm {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  font-size: 0.875rem;
}

.form-check-input {
  box-sizing: border-box;
  width: 1em;
  height: 1em;
  margin-top: 0.25em;
  vertical-align: top;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid rgba(0, 0, 0, 0.25);
  appearance: none;
  color-adjust: exact;
}
.form-check-input[type=radio] {
  border-radius: 50%;
}
.form-check-input:checked {
  background-color: #0d6efd;
  border-color: #0d6efd;
}
.form-check-input:checked[type=checkbox] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}
.form-check-input:checked[type=radio] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
}
.form-check-input:disabled {
  pointer-events: none;
  filter: none;
  opacity: 0.5;
}
.form-check-input[disabled] ~ .form-check-label, .form-check-input:disabled ~ .form-check-label {
  opacity: 0.5;
}

.form-check {
  display: block;
  box-sizing: border-box;
  min-height: 1.5rem;
  padding-left: 1.5em;
  margin-bottom: 0.125rem;
}
.form-check .form-check-input {
  float: left;
  margin-left: -1.5em;
}
.form-check.inline {
  display: inline-block;
  margin-right: 1rem;
}

.navbar {
  box-sizing: border-box;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-height: 44px;
  overflow: hidden;
  background: #3880ff;
  margin-bottom: 1rem;
}
.navbar *,
.navbar *::before,
.navbar *::after {
  box-sizing: inherit;
}
.navbar .container {
  box-sizing: border-box;
  width: 100%;
  min-height: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  margin: auto;
}
@media (max-width: 600px) {
  .navbar .container {
    padding: 0 0.5rem;
  }
}
.navbar a {
  text-decoration: none;
  color: #fff;
}
.navbar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}
.navbar .toggle-btn {
  display: inline-flex;
  align-items: center;
  color: #fff;
  border: 1px solid transparent;
}
.navbar .toggle-btn > * {
  width: 28px;
  height: 28px;
}
.navbar .toggle-btn:hover {
  background: #4da3ff;
}
.navbar .brand {
  color: #fff;
  font-size: 1.1rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  cursor: pointer;
}
.navbar .content {
  flex-grow: 1;
  margin-left: 0.5rem;
  font-size: 1rem;
}
@media (max-width: 600px) {
  .navbar .content {
    display: none;
  }
}
.navbar .content ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar .content li {
  opacity: 0.75;
}
.navbar .content li.active {
  opacity: 1;
}
.navbar .item {
  color: #fff;
  display: inline-flex;
  padding: 0.5rem;
  border: 1px solid transparent;
}
.navbar .item:hover {
  background: #3395ff;
}
.navbar ul > .item {
  padding: 0.5rem 0.25rem;
}
.navbar .expand-menu {
  display: flex;
  flex-direction: column;
  transition: max-height 0.15s ease-in-out;
  visibility: hidden;
  opacity: 0;
}
.navbar .expand-menu li {
  width: 100%;
  text-align: center;
  border-top: 1px solid #007bff;
  padding: 0.4rem 1rem;
}
.navbar .expand-menu.hide {
  visibility: hidden;
  opacity: 0;
  max-height: 0;
}
.navbar .expand-menu.show {
  visibility: visible;
  opacity: 1;
}
.navbar .search-panel {
  display: none;
  position: absolute;
  align-items: center;
  z-index: 10;
  width: 100%;
  height: 100%;
}
.navbar .search-panel input {
  width: 100%;
  height: 100%;
  padding-left: 2.5rem;
}
.navbar .search-panel .search-icon {
  position: absolute;
  left: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
}

.navbar.shadow {
  box-shadow: 0 6px 6px rgba(31, 107, 255, 0.05);
}

.navbar.white {
  background: #fff;
}
.navbar.white a {
  color: #000;
}
.navbar.white .toggle-btn:hover {
  background: transparent;
  border: 1px solid #ddd;
}
.navbar.white .item:hover {
  background: transparent;
  border: 1px solid #ddd;
}
.navbar.white .expand-menu li {
  border-top: 1px solid #ddd;
}

.pagination {
  display: flex;
  flex-direction: row;
}
.pagination *,
.pagination *::before,
.pagination *::after {
  box-sizing: inherit;
}
.pagination .item {
  padding: 0.375rem 0.75rem;
  position: relative;
  display: block;
  color: #007bff;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #e9ecef;
  transition: 0.15s ease-in-out;
}
.pagination .item:not(:first-child) {
  margin-left: -1px;
}
.pagination .item.active {
  z-index: 3;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.pagination .item.active:hover {
  background-color: #007bff;
  border-color: #007bff;
}
.pagination .item.disabled, .pagination .item[disabled] {
  pointer-events: none;
  opacity: 0.7;
}
.pagination .item:hover {
  z-index: 2;
  background-color: #e9ecef;
  border-color: #e9ecef;
}

.pagination.center {
  justify-content: center;
}

.pagination.right {
  justify-content: flex-end;
}

.pagination.sm .item {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}

.drawer {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: auto;
  z-index: 1050;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  visibility: hidden;
  background-color: #fff;
  outline: 0;
  width: 360px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
}
.drawer *,
.drawer *::before,
.drawer *::after {
  box-sizing: inherit;
}
.drawer .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
}
.drawer .header .title {
  margin: 0;
  line-height: 1.5;
}
.drawer .header .btn-close {
  padding: 0.5rem 0.5rem;
  margin-top: -0.5rem;
  margin-right: -0.5rem;
  margin-bottom: -0.5rem;
}
.drawer .body {
  flex-grow: 1;
  padding: 1rem 1rem;
  overflow-y: auto;
}

.drawer.show {
  visibility: visible;
  transform: none;
}

.drawer.hide {
  transform: translateX(-100%);
}

.alert {
  box-sizing: border-box;
  position: relative;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  color: #000;
  border-radius: 0.25rem;
  border: 1px solid #e9ecef;
  background-color: #e9ecef;
  pointer-events: none;
}
.alert *,
.alert *::before,
.alert *::after {
  box-sizing: inherit;
}

.alert.primary {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.alert.with-dismiss {
  padding-right: 3rem;
}
.alert.with-dismiss::after {
  position: absolute;
  display: inline-block;
  font-size: 1.5rem;
  content: "×";
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.8;
  cursor: pointer;
  pointer-events: auto;
}

.progress {
  box-sizing: border-box;
  display: block;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 4px;
}
.progress *,
.progress *::before,
.progress *::after {
  box-sizing: inherit;
}
.progress > .bar {
  height: 100%;
  width: 0;
  background-color: #007bff;
  font-size: 12px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.badge {
  box-sizing: border-box;
  height: 20px;
  display: flex;
  padding: 0 6px;
  z-index: 1;
  position: absolute;
  flex-wrap: wrap;
  font-size: 0.75rem;
  min-width: 20px;
  align-items: center;
  font-weight: 500;
  line-height: 1;
  align-content: center;
  border-radius: 10px;
  flex-direction: row;
  justify-content: center;
  color: #fff;
  top: 0;
  right: 0;
  transform: scale(1) translate(45%, -45%);
  transform-origin: 100% 0;
  background-color: #007bff;
  border: 1px solid #007bff;
}
.badge *,
.badge *::before,
.badge *::after {
  box-sizing: inherit;
}

.breadcrumb {
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  list-style: none;
  padding: 0.5rem 0.75rem;
  margin: 0 0 1rem 0;
  background-color: #fff;
}
.breadcrumb *,
.breadcrumb *::before,
.breadcrumb *::after {
  box-sizing: inherit;
}
.breadcrumb.center {
  flex-direction: row;
  justify-content: center;
}
.breadcrumb.right {
  flex-direction: row;
  justify-content: flex-end;
}

.breadcrumb .item > a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.84);
}
.breadcrumb .item > a:hover {
  text-decoration: underline;
}
.breadcrumb .item.active {
  color: rgba(0, 0, 0, 0.54);
}
.breadcrumb .item + .item:before {
  content: "/";
  padding: 0 0.5rem;
  display: inline-block;
  color: rgba(0, 0, 0, 0.54);
}

@keyframes progress {
  0% {
    background-position: -200px, 0;
  }
  100% {
    background-position: calc(200px + 100%), 0;
  }
}
.skeleton.v1 {
  box-sizing: border-box;
  background-color: #eee;
  background-image: linear-gradient(90deg, #eee, #f5f5f5, #eee);
  background-size: 200px 100%;
  background-repeat: no-repeat;
  display: inline-block;
  line-height: 1;
  width: 100%;
  animation: progress 1.2s ease-in-out infinite;
  height: 1rem;
}

@keyframes glow {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
.skeleton.v2 {
  box-sizing: border-box;
  display: inline-block;
  background-color: #eee;
  color: transparent;
  width: 100%;
  height: 1rem;
  animation: glow 1.5s ease-in-out infinite;
  line-height: 1;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinner-v1 {
  display: inline-flex;
  position: relative;
  content: "";
  margin: 2px;
  border-radius: 100%;
  border: 2px solid #000;
  border-bottom-color: transparent;
  height: 1.5rem;
  width: 1.5rem;
  background: transparent;
  animation: rotate 0.75s 0s linear infinite;
}

.spinner-v2 svg {
  animation: rotate 1s linear infinite;
}

.snackbar {
  box-sizing: border-box;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.84);
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 1rem 2.5rem 1rem 1rem;
  position: fixed;
  z-index: 99;
  min-width: 250px;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.snackbar *,
.snackbar *::before,
.snackbar *::after {
  box-sizing: inherit;
}
.snackbar .close {
  color: #fff;
  cursor: pointer;
  flex-shrink: 0;
  position: absolute;
  right: 5px;
  top: 50%;
  font-size: 1.5rem;
  transform: translateY(-50%);
  padding: 0.25rem 0.5rem;
  font-weight: 300;
}
.snackbar .close:hover {
  background: #000;
}

.snackbar.show {
  visibility: visible;
  animation: fadein 1s;
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}
.modal-open {
  overflow: hidden;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal {
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  height: 100%;
  outline: 0;
  z-index: 1050;
  top: 0;
  left: 0;
  display: none;
}
.modal *,
.modal *::before,
.modal *::after {
  box-sizing: inherit;
}
.modal .modal-dialog {
  position: relative;
  max-width: 500px;
  width: auto;
  background-color: #fff;
  margin: 2rem auto;
  border-radius: 4px;
}
.modal .modal-dialog .modal-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}
.modal .modal-dialog .modal-body {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 0.5rem;
  flex: 1 1 auto;
}

.tag {
  list-style: none;
  padding-left: 0;
  box-sizing: border-box;
}
.tag *,
.tag *::before,
.tag *::after {
  box-sizing: inherit;
}
.tag .item {
  display: inline-block;
  padding: 0;
  margin: 0;
}
.tag .item > a {
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 0.25rem 0.75rem;
  color: rgba(0, 0, 0, 0.84);
  font-size: 80%;
}
.tag .item > a:hover {
  border: 1px solid black;
}
.tag .item.rounded > a {
  border-radius: 20px;
}

.card {
  box-sizing: border-box;
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #fff;
}
.card *,
.card *::before,
.card *::after {
  box-sizing: inherit;
}
.card .header {
  padding: 0.75rem 0.75rem;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.card .header.with-img {
  padding: 0;
  border: none;
}
.card .header.with-img > img {
  width: 100%;
  max-width: 100%;
}
.card .body {
  padding: 0.75rem 0.75rem;
}
.card .body h4,
.card .body h5 {
  margin: 8px 0;
}
.card .footer {
  padding: 0.75rem 0.75rem;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.switch {
  box-sizing: border-box;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 48px;
  height: 28px;
  background-clip: padding-box;
  background-color: rgba(0, 0, 0, 0.7);
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 28px;
  cursor: pointer;
  animation: all 0.2s ease-in-out;
}
.switch *,
.switch *::before,
.switch *::after {
  box-sizing: inherit;
}
.switch::before {
  content: "";
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  z-index: 1;
  transition: all 0.2s ease-in-out;
}
.switch.active {
  background-color: #007bff;
  border-color: #4da3ff;
  justify-content: flex-end;
}

.star {
  box-sizing: border-box;
  width: 1.5rem;
  height: 1.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
  mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iY3VycmVudENvbG9yIiBjbGFzcz0iYmkgYmktc3RhciIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICA8cGF0aCBkPSJNMi44NjYgMTQuODVjLS4wNzguNDQ0LjM2Ljc5MS43NDYuNTkzbDQuMzktMi4yNTYgNC4zODkgMi4yNTZjLjM4Ni4xOTguODI0LS4xNDkuNzQ2LS41OTJsLS44My00LjczIDMuNTIyLTMuMzU2Yy4zMy0uMzE0LjE2LS44ODgtLjI4Mi0uOTVsLTQuODk4LS42OTZMOC40NjUuNzkyYS41MTMuNTEzIDAgMCAwLS45MjcgMEw1LjM1NCA1LjEybC00Ljg5OC42OTZjLS40NDEuMDYyLS42MTIuNjM2LS4yODMuOTVsMy41MjMgMy4zNTYtLjgzIDQuNzN6bTQuOTA1LTIuNzY3LTMuNjg2IDEuODk0LjY5NC0zLjk1N2EuNTY1LjU2NSAwIDAgMC0uMTYzLS41MDVMMS43MSA2Ljc0NWw0LjA1Mi0uNTc2YS41MjUuNTI1IDAgMCAwIC4zOTMtLjI4OEw4IDIuMjIzbDEuODQ3IDMuNjU4YS41MjUuNTI1IDAgMCAwIC4zOTMuMjg4bDQuMDUyLjU3NS0yLjkwNiAyLjc3YS41NjUuNTY1IDAgMCAwLS4xNjMuNTA2bC42OTQgMy45NTctMy42ODYtMS44OTRhLjUwMy41MDMgMCAwIDAtLjQ2MSAweiIvPgo8L3N2Zz4K");
  -webkit-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iY3VycmVudENvbG9yIiBjbGFzcz0iYmkgYmktc3RhciIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICA8cGF0aCBkPSJNMi44NjYgMTQuODVjLS4wNzguNDQ0LjM2Ljc5MS43NDYuNTkzbDQuMzktMi4yNTYgNC4zODkgMi4yNTZjLjM4Ni4xOTguODI0LS4xNDkuNzQ2LS41OTJsLS44My00LjczIDMuNTIyLTMuMzU2Yy4zMy0uMzE0LjE2LS44ODgtLjI4Mi0uOTVsLTQuODk4LS42OTZMOC40NjUuNzkyYS41MTMuNTEzIDAgMCAwLS45MjcgMEw1LjM1NCA1LjEybC00Ljg5OC42OTZjLS40NDEuMDYyLS42MTIuNjM2LS4yODMuOTVsMy41MjMgMy4zNTYtLjgzIDQuNzN6bTQuOTA1LTIuNzY3LTMuNjg2IDEuODk0LjY5NC0zLjk1N2EuNTY1LjU2NSAwIDAgMC0uMTYzLS41MDVMMS43MSA2Ljc0NWw0LjA1Mi0uNTc2YS41MjUuNTI1IDAgMCAwIC4zOTMtLjI4OEw4IDIuMjIzbDEuODQ3IDMuNjU4YS41MjUuNTI1IDAgMCAwIC4zOTMuMjg4bDQuMDUyLjU3NS0yLjkwNiAyLjc3YS41NjUuNTY1IDAgMCAwLS4xNjMuNTA2bC42OTQgMy45NTctMy42ODYtMS44OTRhLjUwMy41MDMgMCAwIDAtLjQ2MSAweiIvPgo8L3N2Zz4K");
  background-color: #007bff;
  mask-size: cover;
  -webkit-mask-size: cover;
  display: inline-flex;
}
.star *,
.star *::before,
.star *::after {
  box-sizing: inherit;
}
.star.fill {
  mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iY3VycmVudENvbG9yIiBjbGFzcz0iYmkgYmktc3Rhci1maWxsIiB2aWV3Qm94PSIwIDAgMTYgMTYiPgogIDxwYXRoIGQ9Ik0zLjYxMiAxNS40NDNjLS4zODYuMTk4LS44MjQtLjE0OS0uNzQ2LS41OTJsLjgzLTQuNzNMLjE3MyA2Ljc2NWMtLjMyOS0uMzE0LS4xNTgtLjg4OC4yODMtLjk1bDQuODk4LS42OTZMNy41MzguNzkyYy4xOTctLjM5LjczLS4zOS45MjcgMGwyLjE4NCA0LjMyNyA0Ljg5OC42OTZjLjQ0MS4wNjIuNjEyLjYzNi4yODIuOTVsLTMuNTIyIDMuMzU2LjgzIDQuNzNjLjA3OC40NDMtLjM2Ljc5LS43NDYuNTkyTDggMTMuMTg3bC00LjM4OSAyLjI1NnoiLz4KPC9zdmc+");
  -webkit-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iY3VycmVudENvbG9yIiBjbGFzcz0iYmkgYmktc3Rhci1maWxsIiB2aWV3Qm94PSIwIDAgMTYgMTYiPgogIDxwYXRoIGQ9Ik0zLjYxMiAxNS40NDNjLS4zODYuMTk4LS44MjQtLjE0OS0uNzQ2LS41OTJsLjgzLTQuNzNMLjE3MyA2Ljc2NWMtLjMyOS0uMzE0LS4xNTgtLjg4OC4yODMtLjk1bDQuODk4LS42OTZMNy41MzguNzkyYy4xOTctLjM5LjczLS4zOS45MjcgMGwyLjE4NCA0LjMyNyA0Ljg5OC42OTZjLjQ0MS4wNjIuNjEyLjYzNi4yODIuOTVsLTMuNTIyIDMuMzU2LjgzIDQuNzNjLjA3OC40NDMtLjM2Ljc5LS43NDYuNTkyTDggMTMuMTg3bC00LjM4OSAyLjI1NnoiLz4KPC9zdmc+");
}
.star.lg {
  width: 2rem;
  height: 2rem;
}

.star-rating {
  display: flex;
  flex-direction: row;
}
.star-rating .star + .star {
  margin-left: 0.25rem;
}

.mask {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  transition: opacity 0.15s linear;
}

.mask.show {
  opacity: 0.5;
}

.mask.hide {
  opacity: 0;
}
