$primary-color: #007bff;
$second-color: #e9ecef;

.alert {
  box-sizing: border-box;
  position: relative;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  color: #000;
  border-radius: 0.25rem;
  border: 1px solid $second-color;
  background-color: $second-color;
  pointer-events: none;

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
}

.alert.primary {
  background-color: $primary-color;
  color: #fff;
  border-color: $primary-color;
}

.alert.with-dismiss {
  padding-right: 3rem;

  &::after {
    position: absolute;
    display: inline-block;
    font-size: 1.5rem;
    content: '×';
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.8;
    cursor: pointer;
    pointer-events: auto;
  }
}
