.mask {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  opacity: 0;
}
.mask.show {
  opacity: 1;
}

.modal-open {
  overflow: hidden;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal {
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  height: 100%;
  outline: 0;
  z-index: 20;
  top: 0;
  left: 0;
  display: none;
}
.modal .modal-dialog {
  position: relative;
  max-width: 500px;
  width: auto;
  background-color: #fff;
  margin: 2rem auto;
  border-radius: 4px;
}
.modal .modal-dialog .modal-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}
.modal .modal-dialog .modal-body {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 0.5rem;
  flex: 1 1 auto;
}
