$primary-color: #007bff;
$second-color: #e9ecef;

$switch-height: 28px;

*,
*::before,
*::after {
  box-sizing: border-box;
}

.switch {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 48px;
  height: $switch-height;
  background-clip: padding-box;
  background-color: rgba(0, 0, 0, 0.7);
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 28px;
  cursor: pointer;
  animation: all 0.2s ease-in-out;

  &::before {
    content: "";
    width: $switch-height - 2px;
    height: $switch-height - 2px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    z-index: 1;
    transition: all 0.2s ease-in-out;
  }

  &.active {
    background-color: $primary-color;
    border-color: lighten($primary-color, 15%);
    justify-content: flex-end;
  }
}
