.pagination {
  display: flex;
  flex-direction: row;
}
.pagination *,
.pagination *::before,
.pagination *::after {
  box-sizing: inherit;
}
.pagination .item {
  padding: 0.375rem 0.75rem;
  position: relative;
  display: block;
  color: #007bff;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #e9ecef;
  transition: 0.15s ease-in-out;
}
.pagination .item:not(:first-child) {
  margin-left: -1px;
}
.pagination .item.active {
  z-index: 3;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.pagination .item.active:hover {
  background-color: #007bff;
  border-color: #007bff;
}
.pagination .item.disabled, .pagination .item[disabled] {
  pointer-events: none;
  opacity: 0.7;
}
.pagination .item:hover {
  z-index: 2;
  background-color: #e9ecef;
  border-color: #e9ecef;
}

.pagination.center {
  justify-content: center;
}

.pagination.right {
  justify-content: flex-end;
}

.pagination.sm .item {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}
