@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinner-v1 {
  display: inline-flex;
  position: relative;
  content: "";
  margin: 2px;
  border-radius: 100%;
  border: 2px solid #000;
  border-bottom-color: transparent;
  height: 1.5rem;
  width: 1.5rem;
  background: transparent;
  animation: rotate 0.75s 0s linear infinite;
}

.spinner-v2 svg {
  animation: rotate 1s linear infinite;
}
